body {
  color: white;
  height: -webkit-fill-available;
  background: linear-gradient(45deg, red, blue);
  background-repeat: no-repeat;
  text-align: center;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}

{ box-sizing: border-box; }
.video-background {
 background: #000;
 position: fixed;
 top: 0; right: 0; bottom: 0; left: 0;
 z-index: -99;
}
.video-foreground,
.video-background iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 100%;}
}
@media (max-aspect-ratio: 16/9) {
 .video-foreground { width: 100%;}
}
